<div class="container">
    <div class="col-md-12">
		<a href="/manage/manage_users" class="btn btn-outline-secondary" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
		</svg></a>
	</div>
    <div class="row">
        <h1>Add Your Account</h1>
    </div>  
    <form action="/create_single_user" method="Post">
        <div class="mb-3">
            <label for="fnameinput" class="form-label">First Name</label>
            <input type="text" name="fname" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="fnameinput" placeholder="First Name" required>
        </div>
        <div class="mb-3">
            <label for="lnameinput" class="form-label">Last Name</label>
            <input type="text" name="lname" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="lnameinput" placeholder="Last Name" required>
        </div>
        <div class="mb-3">
            <label for="emailinput" class="form-label">Email</label>
            <input type="email" name="email" class="form-control <% if @active_team_color == 'white'%>white-user<% else %>blue-user<% end %>" id="emailinput" placeholder="Email" required>
        </div>
        <div class="row">
            <h2>Please Select:</h1>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <select class="form-select" aria-label="Default select example" name="team" required>
                    <option selected disabled value>Team</option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <select class="form-select" aria-label="Default select example" name="role" onchange="loadGradeYear(this)" required>
					<option selected disabled value>Role</option>
					<option value="Student">Student</option>
					<option value="Faculty/Staff">Faculty/Staff</option>
                </select>
            </div>
        </div>
		<div class="row">
			<div class="col-md-4 mb-3" style="display:none;">
				<select id="grade" class="form-select" aria-label="Default select example" name="" required>
					<option selected disabled value">Grade</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</div>
			<div class="col-md-4 mb-3" style="display:none;">
				<select id="year" class="form-select" aria-label="Default select example" name="" required>
					<option selected disabled value">Year</option>
					<% curr_month = Date.today.month %>
					<% if curr_month >= 1 and curr_month <= 6 %>
						<% senior_year = Date.today.year %>
					<% else %>
						<% senior_year = Date.today.year + 1%>						
					<% end %>

					<% for i in 1..4 %>
						<option value="<%=senior_year %>"><%= senior_year %></option>
						<% senior_year += 1 %>
					<% end %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-3">
				<input type="checkbox" class="form-check-input" id="admincheck" name="is_admin">
				<label class="form-check-label" for="admincheck">Admin?</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
    </form>
</div>
<script>
 function loadGradeYear(role){
	 grade = document.getElementById("grade");
	 year = document.getElementById("year");
	 
	 if (role.value == "Faculty/Staff") {
		 grade.name = "gradeyear";
		 year.name = "";
		 grade.parentElement.style.display = "block";
		 year.parentElement.style.display = "none";
		 grade.selectedIndex = 0;
		 
	 }
	 else if (role.value == "Student") {
		 grade.name = "";
		 year.name = "gradeyear";
		 grade.parentElement.style.display = "none";
		 year.parentElement.style.display = "block";
		 year.selectedIndex = 0;
	 }
 }
</script>
