<div class="container">
    <h1>Add Accounts</h1>
    <h4>Please upload a text file of the users you would like to add</h4>
    <h4>Include their first name, last name, email, team color, and role<h4>

    <form action="/create_users">
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Submit</button>
        </div>
    </form>

</div>
