<div class="container" id="bw_points">
    
    <div class="row justify-content-md-center text-center mb-3">
        <h1>Announcements</h1>
    </div>
    <div class="row">
        <div class="col">
        <% @all_msg.each do |msg| %>
            
            <div class="alert alert-primary">
                <h2><%= msg.subject %> </h2>
                <p><%= msg.content %> </p>
                <p><i>Sent at <%=msg.sent_at.utc.strftime("%I:%M, %m/%d/%Y")%></i></p>
            </div>
        <%end%>
        </div>
    </div>

</div>
