<div class="container">
    <div class="row">
        <h1>Add Your Account</h1>
    </div>
    <div class="row">  
        <form action="/create_users">
            <div class="mb-3">
                <label for="fnameinput" class="form-label">First Name</label>
                <input type="fname" class="form-control" id="fnameinput" placeholder="First Name">
            </div>
            <div class="mb-3">
                <label for="lnameinput" class="form-label">Last Name</label>
                <input type="lname" class="form-control" id="lnameinput" placeholder="Last Name">
            </div>
        <div class="row">
            <h2>Please Select:</h1>
        </div>
    </select>
            <div class="row">
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                <option selected>Role</option>
                <option value="1">Club Leader</option>
                <option value="2">Club Member</option>
                <option value="3">Club Advisor</option>
            </select>
        </div>
        <div class="col">
                <select class="form-select" aria-label="Default select example">
                <option selected>Team</option>
                <option value="1">White</option>
                <option value="2">Blue</option>
                <option value="3">Other</option>
            </select>
        </div>
        <div class="col">
                <select class="form-select" aria-label="Default select example">
                <option selected>Class Year</option>
                <option value="1">2025</option>
                <option value="2">2026</option>
                <option value="3">2027</option>
                <option value="3">2028</option>
            </select>
        </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="admincheck"><end>
                            <label class="form-check-label" for="admincheck">Admin</label>
                    </div>
                <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</div> 