<div class="container">
    <div class="row">
        <h1>Add Your Account</h1>
    </div>  
    <form action="/create_single_user" method="Post">
        <div class="mb-3">
            <label for="fnameinput" class="form-label">First Name</label>
            <input type="text" name="fname" class="form-control" id="fnameinput" placeholder="First Name" required>
        </div>
        <div class="mb-3">
            <label for="lnameinput" class="form-label">Last Name</label>
            <input type="text" name="lname" class="form-control" id="lnameinput" placeholder="Last Name" required>
        </div>
        <div class="mb-3">
            <label for="emailinput" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="emailinput" placeholder="Email" required>
        </div>
        <div class="row">
            <h2>Please Select:</h1>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <select class="form-select" aria-label="Default select example" name="team" required>
                    <option selected disabled value>Team</option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <select class="form-select" aria-label="Default select example" name="role" required>
                <option selected disabled value>Role</option>
                <option value="Student">Student</option>
                <option value="Faculty/Staff">Faculty/Staff</option>
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <select class="form-select" aria-label="Default select example" name="grade" required>
            <option selected disabled value>Grade</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <input type="checkbox" class="form-check-input" id="admincheck" name="is_admin">
            <label class="form-check-label" for="admincheck">Admin?</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div> 
