<div id="planner" class="carousel slide">
<div class="container">
<table class="table align-middle table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">1/9/25: Blue Thursday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">8:00-8:15</th>
      <td>Assembly</td>
    </tr>
    <tr>
      <th scope="row">8:15-9:05</th>
      <td>U1</td>
    </tr>
    <tr>
      <th scope="row">9:10-10:00</th>
      <td>U2</td>
    </tr>
    <tr>
        <th scope="row">0:05-10:55</th>
        <td>U4</td>
    </tr>
    <tr>
        <th scope="row">10:55-11:15</th>
        <td>Break</td>
    </tr>
    <tr>
        <th scope="row">11:15-12:05</th>
        <td>U5</td>
    </tr>
    <tr>
        <th scope="row">12:10-1:00</th>
        <td>U7</td>
    </tr>
    <tr>
        <th scope="row">1:00-1:50</th>
        <td>Lunch</td>
    </tr>
    <tr>
        <th scope="row">1:50-2:40</th>
        <td>Afternoon Assembly</td>
    </tr>
    <tr>
        <th scope="row">2:45-3:30</th>
        <td>U9</td>
    </tr>
    <tr>
        <th scope="row">3:45-5:45</th>
        <td>Sports and Extracurriculars</td>
    </tr>
  </tbody>
</table>
</div>
</div>