<div id="planner" class="carousel slide">
<div class="container">
<table class="table align-middle table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">1/9/25: Blue Thursday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">8:00-8:15</th>
      <td>Assembly</td>
    </tr>
    <tr>
      <th scope="row">8:15-9:05</th>
      <td>U1</td>
    </tr>
    <tr>
      <th scope="row">9:10-10:00</th>
      <td>U2</td>
    </tr>
    <tr>
        <th scope="row">10:05-10:55</th>
        <td>U4</td>
    </tr>
    <tr>
        <th scope="row">10:55-11:15</th>
        <td>Break</td>
    </tr>
    <tr>
        <th scope="row">11:15-12:05</th>
        <td>U5</td>
    </tr>
    <tr>
        <th scope="row">12:10-1:00</th>
        <td>U7</td>
    </tr>
    <tr>
        <th scope="row">1:00-1:50</th>
        <td>Lunch</td>
    </tr>
    <tr>
        <th scope="row">1:50-2:40</th>
        <td>Afternoon Assembly</td>
    </tr>
    <tr>
        <th scope="row">2:45-3:30</th>
        <td>U9</td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Edit Schedule</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  <form>
  <div class="container">
    <select class="form-select form-select-lg mb-3" aria-label="Large select example">
      <option selected>Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="3">Thursday</option>
      <option value="3">Friday</option>
    </select>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example">
      <option selected>Week</option>
      <option value="1">Blue</option>
      <option value="2">White</option>
    </select>

    <select class="form-select form-select-lg mb-3" aria-label="Large select example">
      <option selected>Timing</option>
      <option value="2">8:00-3:30</option>
      <option value="1">9:10-3:30</option>
      <option value="2">10:00-3:30</option>
      <option value="2">8:00-12:00</option>
    </select>


    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">U1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">U2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U4</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U5</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U6</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U7</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U8</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">U9</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Break</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Lunch</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Morning Assembly</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Class Meeting</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Morning Advisory</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Afternoon Assembly</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Afternoon Class Meeting</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Afternoon Advisory</label>
    </div>
<div>
<button type="submit" class="btn btn-primary" href="">Update</button>
</div>
</div>
</form>
</div>

</div>
</div>
</div>
<% if @fac_member == true  %>
  <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Edit Schedule</button>
<% end %> 

</div>
</div>