<div class="container">
    <p>Please upload a the updated file for the calander</p>
    <form action="/uploadcalander" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" class="form-control" id="accountsFile" name="accountsFile" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <!-- <button class="btn btn-outline-secondary" type="submit" id="accountsFile">Submit</button> -->
            <input type="submit" value="Upload">

        </div>
    </form>
</div>