<div class="container" id="all_clubs">
    <div class="row text-center"> 
        <h1> My Clubs Page</h1>   
    </div>
    <div class="row">
        <% @my_groups.each do |club| %>
            <div class="col-md-4 col-lg-3 mb-3">
                <div class="card border-primary">
                    <h5 class="card-header" id="club-header"> 
                        <%=club.name %> 
                    </h5>
                    <div class="card-body" max-height="5rem" id="club-body">
                        <p style="text-align:center;">Level: <i><%= GroupLevel.find(club.level_id).name.titleize %></i></p>
                        <div class="overflow-y-auto">
                            <%= club.description %>
                        </div>
                        <center><a href="/my_clubs/<%= club.name.sub(" ", "_")%>" class="btn btn-primary card-link mt-3 justify-content-md-center" role="button">See more</a></center> 
                    </div>
                </div>
            </div> 
        <% end %>
    </div>
</div>
