<center>
	<img src="/images/holtonhub.png" style="max-width: 40%; height:auto;" class="rounded-circle mx-auto d-block" alt="Holton Hub Logo">
	<p><a class="btn btn-lg btn-success my-2" href="<%= @google_url %>" role="button">Sign in with Google</a></p>
</center>
