<div class="container" id="welcome_page">
    <center>
        <h1>Holton Hub</h1>
        <div class="card">
            <div class="card-body">
                Welcome to Holton Hub, a place for Holton-Arms students to visit clubs and sports, Blue/White status, the daily schedule, and more. Please sign in to access your account.
            </div>
        </div>