/* these classes change the overall color scheme of the pages
   without having to apply classes to everyone. These are bootstrap
   CSS variables.
 */
body.blue-user {
	--bs-body-bg:navy;
	--bs-body-color:aliceblue;
}

body.white-user {
	--bs-body-bg:white;
	--bs-body-color:navy;
}

.navbar.blue-user {
	--bs-navbar-color:aliceblue;
	--bs-navbar-brand-color:aliceblue;
	--bs-navbar-brand-hover-color: lightblue;
	--bs-navbar-active-color:lightblue;
	--bs-navbar-hover-color:lightblue;
	--bs-navbar-toggler-border-color:aliceblue;
	--bs-accordion-color:aliceblue;
}

.navbar.white-user {
	--bs-navbar-brand-color:navy;
	--bs-navbar-active-color:blue;
	--bs-navbar-color:mediumblue;
}

.blue-user.navbar-toggler {
	background-color:white;
}


h1 {
    font-size: 20px;
    font-family:Georgia, Times, serif;
    margin-left:25px;
}


#g_logo {
	height: 20px;
	margin-right: 12px;
	min-width: 20px;
	width: 20px;
}

.g_container {
	display:flex;
}


.class_table{
	overflow-y:scroll;
	height:275px;
	display:block;
}

#event-body {
	background: rgba(255, 255, 255, 0.2);
}

#event-header {
	background: rgba(255, 255, 255, 0.4)
}
