/* these classes change the overall color scheme of the pages
   without having to apply classes to everyone. These are bootstrap
   CSS variables.
 */
body.blue-user {
	--bs-body-bg:navy;
	--bs-body-color:aliceblue;
}

body.white-user {
	--bs-body-bg:white;
	--bs-body-color:navy;
}

.navbar.blue-user {
	--bs-navbar-color:aliceblue;
	--bs-navbar-brand-color:aliceblue;
	--bs-navbar-brand-hover-color: rgb(173, 216, 230);
	--bs-navbar-active-color:lightblue;
	--bs-navbar-hover-color:lightblue;
	--bs-navbar-toggler-border-color:aliceblue;
	--bs-accordion-color:aliceblue;
}

.navbar.white-user {
	--bs-navbar-brand-color:navy;
	--bs-navbar-active-color:blue;
	--bs-navbar-color:mediumblue;
}

.navbar-toggler.blue-user {
	background-color:white;
}

.table.blue-user {
	--bs-table-color:aliceblue;
	--bs-emphasis-color:aliceblue;
}

.dropdown.blue-user .dropdown-item {
	--bs-dropdown-link-hover-color:navy;
}

.sched.carousel-control-prev {
	margin-left: -10%;
}

.sched.carousel-control-next {
	margin-right:-10%;
}

.form-control.blue-user {
	color:black;
	background-color:white;
}

.form-control.blue-user::placeholder {
	color:grey;
}

input.blue-user::file-selector-button {
	color:navy;
}

.input-group-text.blue-user {
	color:navy;
}

.accordion-button.blue-user:is(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='rgba%28240,248,255%29' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.form-select.blue-user {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28240,248,255%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

h1 {
    font-size: 20px;
    font-family:Georgia, Times, serif;
    /* margin-left:25px; */
}

.carousel-control-prev-icon.white-user {
	background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c1c84'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon.white-user {
	background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c1c84'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators.white-user [data-bs-target] {
	background-color:#1c1c84;
}

#g_logo {
	height: 20px;
	margin-right: 12px;
	min-width: 20px;
	width: 20px;
}

.g_container {
	display:flex;
}


.card-body {
	background: rgba(173, 216, 230, 0.2);
}

.class_table{
	overflow-y:scroll;
	height:275px;
	display:block;
}

#event-body {
	background: rgba(255, 255, 255, 0.2);
}

.card-header {
	background: rgba(173, 216, 230, 0.4);
}

.groupimage {
	height: 30vh;
	width: auto;
	/* display: block; */
}

.trash_btn {
	display: none;
	/* transform: translateY(100%); */

}
.groupimage:hover + .trash_btn{
	display: block;
	/* transform: translateY(100%); */
	margin-bottom: -10px;
	
}

.club-img {
	height: 50vh;
	width: auto;
	margin: 0 auto;
}
tr.strike {
	text-decoration: line-through;
}

.sportPhoto {
	width: 80%;
	margin: 0 auto;	
} 

.del_advisor:hover + .advisor {
	text-decoration: line-through;
	font-style: italic;
}
.search-field {
	width:80%;
}
