<div class="container">
    <h1>Oops...</h1>
    <p>This page already exists. Try one of these instead:</p>

        <a class="btn btn-primary" href="/" role="button">Home</a>
        <a class="btn btn-primary" href="/all_clubs" role="button">Clubs</a>
        <a class="btn btn-primary" href="/all_sports" role="button">Sports</a>
        <a class="btn btn-primary" href="/day_schedule" role="button">Schedule</a>

</div>